aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
httpx[http2]==0.28.1
motor
numpy
opencv-python
pillow==11.2.1
psutil
py-tgcalls==2.2.3
pykeyboard
kurigram==2.2.6
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
tgcrypto
unidecode
uvloop
yt-dlp
youtube-search
youtube-search-python
yt-dlp>=2025.6.25
